DJANGO_DEVELOPMENT = 0
SECRET_KEY = 'INPUT-YOUR-SECRET-KEY'

POSTGRES_DB = 'db_name'
POSTGRES_USER = 'user'
POSTGRES_PASSWORD = 'password'
DB_HOST = db
DB_PORT = 5432

EMAIL_HOST = 'smtp.gmail.com'
EMAIL_HOST_USER = 'email@gmail.com'
EMAIL_HOST_PASSWORD = 'password'

LANGUAGE_CODE = 'ru-RU'
TIME_ZONE = 'Asia/Bangkok'